<!-- player Screen - Refer to player.scss -->
<ion-view view-title="Tracks" hide-nav-bar="true" class="rubyonic-pane tracks-player">
    <!--
    setting 'hide-nav-bar="true"' above enables us to create our own header bar
    by hiding the default one without messing with ionic's state/history management
    -->

    <ion-header-bar align-title="center" class="bar bar-ruby-header bar-transparent" ng-controller="NavigationCtrl">
        <div class="buttons">
            <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
                <span class="new-notification-bubble"></span>
            </button>
        </div>
        <h1 class="title">
            My Albums
        </h1>
        <div class="buttons">
            <button class="button ruby-button-clear icon ion-ios-search brand-base-text-color" ng-click="go('app.search')"></button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header" ng-controller="ArtistsCtrl">

        <div class="player-background">
            <div class="player-overlay">

            </div>

            <ion-list>

                <ion-item ng-repeat="album in albums" class="item-thumbnail-left" ui-sref="app.albums({albumId: album.id})">
                    <img ng-src="data/artwork/{{album.id}}.jpg">
                    <h2>{{album.name}}</h2>
                    <p><b>{{album.nb_titles}}</b> songs, {{album.duration}}</p>
                </ion-item>

            </ion-list>

        </div>

    </ion-content>
    <play-bar></play-bar>
</ion-view>

