<!-- Login Screen - refer to login.scss -->
<ion-view view-title="Forgot Password" hide-nav-bar="true">
  <ion-content class="rubyonic-pane login-screen">

  	<!-- Logo Section - center aligned by default -->
  	<div class="logo">
  		<img src="img/mcomm-music-logo.png" alt="">
	</div>
	<!-- End Logo Section -->

	<!-- A description section. Useful for a short pitch -->
  	 <h4 class="description">A recovery link would be sent to you in an email</h4> 
  	<!-- End description -->

  	<!-- Login Form - note the modifier 'is-transparent' is for the form to be see through class="list"-->
  	<div class=" list-inset login-form is-transparent">
        <p>Enter your email address to have a password reset link sent to you.</p>
	  <label class="item item-input">
	  	<i class="icon ion-email placeholder-icon"></i>
	    <input type="url" placeholder="Email" required>
	  </label>

	  <div class="button-stack" ng-controller="NavigationCtrl">
	  	<button ng-click="go('app.psuccess')" class="button button-transparent button-block">Reset password</button>
          <button ng-click="go('app.login')" class="button button-positive button-block">Cancel</button>
	  </div>

	</div>
	<!-- End Login Form-->

	<!-- Social Login --
	<div class="social-login">
		<h6 class="divider">Social Login</h6>
		<div class="row">
			<div class="col">
				<a href="" class="button button-assertive button-borderless button-block no-margin"><i class="ion-social-google"></i> Gmail</a>
			</div>
			<div class="col">
				<a href="" class="button button-positive button-borderless button-block no-margin"><i class="ion-social-facebook"></i> Facebook</a>
			</div>
		</div>
	</div>
	<-- End Social Login -->

  </ion-content>
</ion-view>
