<!-- player Screen - Refer to player.scss -->
<ion-view view-title="Tracks" hide-nav-bar="true" class="rubyonic-pane tracks-player">
  <!--
  setting 'hide-nav-bar="true"' above enables us to create our own header bar
  by hiding the default one without messing with ionic's state/history management
  -->

<ion-header-bar align-title="center" class="bar bar-ruby-header bar-transparent" ng-controller="NavigationCtrl">
  <div class="buttons">
    <button class="button ruby-button-clear icon ion-navicon brand-base-text-color" menu-toggle="left">
      <span class="new-notification-bubble"></span>
    </button>
  </div>
  <h1 class="title">
    Trending
  </h1>
  <div class="buttons">
      <button class="button ruby-button-clear icon ion-ios-search brand-base-text-color" ng-controller="NavigationCtrl" ng-click="go('app.search')"></button>
  </div>
</ion-header-bar>

  <ion-content class="has-header">

      <div class="player-background">
        <div class="player-overlay">
            <div id="trending" class="feed-item" ng-controller="NavigationCtrl">


                <div class="list row">
                    <div class="trend-item1 trend-overlay1 mid">
                        <h2>In The Rain</h2>
                        <p>Tebudiga</p>
                    </div>
                </div>
                <div class="list row">
                    <div class="trend-item2 trend-overlay2 mid">
                        <h2>M.V.P</h2>
                        <p>Olamide</p>
                    </div>
                </div>
                <div class="list row">
                    <div class="trend-item3 trend-overlay3 mid">
                        <h2>Berlin</h2>
                        <p>Elia Woods</p>
                    </div>
                </div>
                <div class="list row">
                    <div class="trend-item4 trend-overlay4 mid">
                        <h2>Jeje</h2>
                        <p>Seyi Sodimu</p>
                    </div>
                </div>
                <div class="list row">
                    <div class="trend-item5 trend-overlay5 mid">
                        <h2>Kontrol</h2>
                        <p>Maleek Berry</p>
                    </div>
                </div>

	       </div>
          </div>


          </div>




  </ion-content>
        <play-bar></play-bar>
      </ion-view>
