
<!-- player Screen - Refer to player.scss -->
<ion-view view-title="Manage Directories" hide-nav-bar="true" class="rubyonic-pane tracks-player">
    <!--
    setting 'hide-nav-bar="true"' above enables us to create our own header bar
    by hiding the default one without messing with ionic's state/history management
    -->

    <ion-header-bar align-title="center" class="bar bar-ruby-header bar-transparent">
        <!--<div class="buttons">-->
            <!--<button class="button button-clear brand-base-text-color" ng-click="goBackAStep()">-->
                <!--<i class="icon ion-ios-arrow-left"></i>-->
            <!--</button>-->
        <!--</div>-->
        <h1 class="title">Music directories</h1>
        <div class="buttons">
            <button class="button button-icon balanced ion-ios-plus-outline" ng-click="openModal();"></button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header" has-bouncing="true">
        <ion-list can-swipe="true" delegate-handle="directory-list">
            <ion-item class="item-icon-right" ng-repeat="directory in directories track by directory.fullPath" >
                {{directory.fullPath}}
                <ion-spinner ng-if="directory.isLoading" class="icon ios"></ion-spinner>
                <ion-option-button class="button-assertive"
                    ng-click="removeDirectory(directory)">
                    Remove
                </ion-option-button>
                <ion-option-button class="button-balanced"
                    ng-click="scanDirectory(directory)">
                    Scan
                </ion-option-button>
            </ion-item>
        </ion-list>


    </ion-content>
</ion-view>

